Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [13]:
#Answer 1
# (i)String

Test = "Raj"
print(Test)
print(type(Test))

# (ii) list

list1 = [1,2,3,"Raj"," Ramesh"]
print(list1)
print(type(list1))

# (iii) Float

float = 1.5
print(float)
print(type(float))

# (iv) Tuple

my_tuple = (1, 2, 3, "apples")
print(my_tuple)
print(type(my_tuple))

Raj
<class 'str'>
[1, 2, 3, 'Raj', ' Ramesh']
<class 'list'>
1.5
<class 'float'>
(1, 2, 3, 'apples')
<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [19]:
# Answer 2

# (i)
var1 = ' '
print(type(var1)) # String

#(ii)

var2 = '[ DS , ML , Python]' 
print(type(var2))   # String

#(iii)

var3 = [ 'DS' , 'ML' , 'Python' ]
print(type(var3)) # List

# (iv)
var4 = 1.
print(type(var4)) # Float

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:
# ANS 3
(i) / (Division)   = This operator performs division and returns the result as a float, even if the division is exact.
(ii) % (Modulus)   = This operator returns the remainder when dividing two numbers.
(iii) // (Floor Division) = This operator performs integer division and returns the quotient rounded down to the nearest whole number.
(iv) ** (Power Operator)  = This operator is used to perform exponentiation, raising the left operand to the power of the right operand.

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [1]:
#Answer 4

my_list = [42, 7.52, "Hello", True, [1, 2, 3], (1,2), {'key': 'value'}, None]

for i in my_list:
    print(f"{i}, Data type: {type(i)}")

42, Data type: <class 'int'>
7.52, Data type: <class 'float'>
Hello, Data type: <class 'str'>
True, Data type: <class 'bool'>
[1, 2, 3], Data type: <class 'list'>
(1, 2), Data type: <class 'tuple'>
{'key': 'value'}, Data type: <class 'dict'>
None, Data type: <class 'NoneType'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [9]:
# Answer 5

A = int(input("Enter value of number A :"))
B = int(input("Enter value of number B :"))
Count = 0

if B == 0:
    print("division not possible")
else:
    while A % B == 0:
        A = A / B
        Count = Count + 1
        
if Count < 1:
    print("A is not divided by B")
else:
    print("A can be divide by",Count,"times.")

Enter value of number A : 12
Enter value of number B : 2

A can be divide by 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [11]:
# Answer 6

my_list3 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for i in my_list3:
    if i % 3 == 0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

# Answer 7

Mutable Data Type

Mutable data types are those that allow modification of their contents after they are created. 
You can change, add, or remove elements.

List: You can modify, add, or remove elements.
Dictionary: You can modify, add, or remove key-value pairs.
Set: You can add or remove elements.

Immutable Data Types

Immutable data types are those whose contents cannot be changed once they are created. 
Any attempt to modify the content of an immutable data type results in the creation of a new object.

String: You cannot change the individual characters of a string.
Tuple: You cannot change the elements of a tuple.
Frozenset: Similar to sets but immutable.
Integer: You cannot change the value of an integer once it's assigned.